* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

/* NAV SECTION */
.nav-logo {
  width: auto;
  height: 120px;
  object-fit: contain;
}

.navbar-brand {
  font-weight: 700;
}

.nav-link {
  color: black;
  font-weight: 500;
  margin: 0 10px;
  transition: 0.3s;
}

/* HERO SECTION */
.hero-heading {
  font-family: "Volkhov", serif;
  font-weight: 700;
  font-size: 64px;
}

.hero-description {
  font-size: 18px;
  color: #666;
  line-height: 32px;
}

.hero-button {
  border: 1px solid #f86925;
  color: #f86925;
  transition: all 0.3s ease;
}
.hero-button:hover {
  background-color: #f25c05;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(13, 110, 253, 0.3);
}

.hero-img {
  text-align: center;
  width: 90%;
}

.hero-img img {
  width: 90%;
}

/* SEARCH SECTION */
.booking-box{
    background:#fff;
    border-radius:25px;
    box-shadow:0 15px 40px rgba(0,0,0,.08);
    padding:25px 10px;
}

.booking-item{
    padding:20px 40px;
    position:relative;
}

.booking-item:not(:last-child){
    border-right:1px solid #eee;
}

.booking-trigger{
    text-decoration:none;
    display:block;
    color:#222;
}

.booking-trigger h5{
    font-size:22px;
    font-weight:600;
    margin-bottom:10px;
}

.booking-trigger p{
    margin:0;
    color:#777;
    font-size:18px;
}

.booking-trigger::after{
    float:right;
    margin-top:14px;
}

.dropdown-menu{
    width:100%;
    border:none;
    border-radius:15px;
    padding:10px;
}

.dropdown-item{
    padding:10px 15px;
    border-radius:8px;
}

.dropdown-item:hover{
    background:#f86925;
    color:#fff;
}

@media(max-width:991px){

    .booking-item:not(:last-child){
        border-right:none;
        border-bottom:1px solid #eee;
    }

    .booking-item{
        padding:25px;
    }

}
 .search-section {
  margin-top: -40px;
  position: relative;
  z-index: 10;
}

.search-item {
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px;
}

.explore-btn {
  background: #f86925;
  color: white;
  padding: 15px 35px;
  border-radius: 6px;
  font-weight: 500;
  transition: 0.3s;
}

.explore-btn:hover {
  background: #e5672f;
  color: white;
  transform: translateY(-2px);
}

/* TO DO SECTION */
.things {
  background: whitesmoke;
}

.section-title h2 {
  font-size: 48px;
  font-weight: 600;
}

.section-title p {
  width: auto;
  margin: 20px auto;
  color: #777;
  line-height: 30px;
}

.feature-card {
  background: white;
  padding: 40px 30px;
  border-radius: 20px;
  transition: 0.4s;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.feature-icon {
  width: 70px;
  height: 70px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}

.feature-card h4 {
  font-weight: 600;
  margin-bottom: 20px;
}

.feature-card p {
  color: #777;
  line-height: 28px;
}

.feature-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.08);
}

/* DEALS SECTION */
.deal-card {
  background: #fff;
  border-radius: 18px;
  overflow: hidden;
  transition: 0.35s;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.05);
}

.deal-image {
  position: relative;
  overflow: hidden;
}

.deal-image img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  transition: 0.5s;
  border-radius: 20px;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s;
  color: rgb(252, 238, 238);
}

.deal-card:hover .overlay {
  opacity: 1;
}

.deal-card:hover img {
  transform: scale(1.08);
}

.book-btn {
  background: #fa7436;
  color: white;
  padding: 12px 28px;
  border-radius: 8px;
}

.book-btn:hover {
  background: #e5672f;
  color: white;
}

.deal-body {
  padding: 22px;
}

.deal-body h5 {
  font-weight: 600;
}

.old-price {
  color: #999;
  text-decoration: line-through;
  margin-right: 10px;
}

.new-price {
  background: #ffe7db;
  color: #fa7436;
  padding: 4px 10px;
  border-radius: 6px;
  font-weight: 600;
}

.deal-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.12);
}

.section-heading h2 {
  font-size: 48px;
  font-weight: 600;
}

.section-heading p {
  width: auto;
  margin: 20px auto;
  color: #777;
  line-height: 30px;
}

.navigation-btns {
  margin-top: 80px;
}

.nav-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.35s ease;
}
.prev-btn {
  background: #fff;
  border: 1px solid #d8d8d8;
  color: #4f4d4d;
}

.prev-btn:hover {
  background: #f25c05;
  color: white;
  transform: translateX(-4px);
}

.next-btn {
  background: #fff;
  border: 1px solid #d8d8d8;
  color: #4f4d4d;
}

.next-btn:hover {
  background: #f25c05;
  color: white;
  transform: translateX(4px);
}

/* VACATION SECTION */
.vacation-section {
  padding: 100px 0;
  background: #fff;
}

.vacation-header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  flex-wrap: wrap;
}

.vacation-heading h2 {
  font-size: 48px;
  font-weight: 600;
}

.vacation-heading p {
  width: auto;
  margin: 20px auto;
  color: #777;
  line-height: 30px;
}

.slider-buttons {
  display: flex;
  gap: 15px;
}

.arrow-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid lightgray;
  background: white;
  transition: 0.3s;
}

.arrow-btn.active {
  color: black;
  border: 1px solid lightgray;
}

.arrow-btn:hover {
  background:#f86925;
  color: white;
  transform: translateX(-4px);
  transition: all 0.35s ease;
}

.arrow-btn.active:hover{
  background:#f86925;
  color: white;
  transform: translateX(4px);
  transition: all 0.35s ease;
}

/* VACATION-CARD */
.vacation-card {
  border-radius: 20px;
  overflow: hidden;
  background: white;
  transition: 0.35s;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
}

.vacation-image {
  overflow: hidden;
  position: relative;
}

.popular-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background: var(--primary);
  color: #fff;
  padding: 6px 12px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
}

.vacation-image img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  transition: 0.5s;
}

.vacation-body {
  padding: 25px;
}

.vacation-body span {
  color: #666;
}

.vacation-body h5 {
  color: var(--primary);
  font-weight: 700;
}

.vacation-body i {
  color: var(--primary);
  margin-right: 6px;
}

.vacation-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.12);
}

.vacation-card:hover img {
  transform: scale(1.08);
}

.price-tag h5 {
  color: #f86925;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 600;
}

/* TESTIMONIAL SECTION */
.testimonial-section {
  padding: 120px 0;
  background: #f7f8fc;
}

.testimonial-heading h2 {
  font-size: 48px;
  font-family: "Volkhov", serif;
  font-weight: 700;
}

.testimonial-heading p {
  margin: 25px 0 35px;
  color: #666;
  line-height: 30px;
}

.testimonial-wrapper {
  position: relative;
  height: 380px;
}

.testimonial-card {
  background: white;
  border-radius: 18px;
  padding: 40px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.08);
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  left: -10px;
}

.active-card {
  position: absolute;
  z-index: 5;
}

.second-card {
  position: absolute;
  top: 220px;
  left: 50px;
  opacity: 0.35;
  z-index: 1;
}

.testimonial-card p {
  color: #444;
  line-height: 30px;
  margin-bottom: 30px;
}

.testimonial-card h5 {
  font-weight: 700;
}

.active-card:hover {
  transform: translateY(-8px);
  transition: 0.3s;
  border-left: 5px solid var(--primary);
}

/* BLOG-SECTION */
.blog-section {
  padding: 110px 0;
}

.blog-card {
  transition: 0.35s;
  cursor: pointer;
}

.blog-image {
  overflow: hidden;
  border-radius: 18px;
}

.blog-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  transition: 0.5s;
}

.blog-body {
  padding: 20px 8px;
}

.blog-body h5 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 600;
  margin-bottom: 15px;
}

.blog-card:hover img {
  transform: scale(1.08);
}

.blog-card:hover {
  transform: translateY(-10px);
}

.blog-card {
  border-radius: 18px;
}

.blog-card:hover {
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.12);
}

.blog-body i {
  color: var(--primary);
  margin-right: 8px;
}

/* NEWSLETTER SECTION */
.newsletter {
  padding: 120px 0;
}

.newsletter-box {
  background: #f86925;
  border-radius: 20px;
  padding: 80px 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.newsletter-box h2 {
  color: white;
  font-size: 48px;
  max-width: 700px;
  margin: auto;
  margin-bottom: 50px;
}

.newsletter-form {
  max-width: 700px;
  margin: auto;
}

.newsletter-form input {
  height: 65px;
  border: none;
  font-size: 17px;
}

.newsletter-form input:focus {
  box-shadow: none;
}

.input-group {
  overflow: hidden;
  border-radius: 12px;
}

.input-group-text {
  background: white;
  border: none;
  padding-left: 25px;
}

.input-group input {
  color: #999;
}

.input-group-text i {
  color: #999;
  font-size: 18px;
}

.newsletter {
  background: #fff;
  border-radius: 16px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.input-icon {
  color: #999;
  margin-left: 15px;
}

.newsletter input {
  flex: 1;
  border: none;
  outline: none;
  padding: 15px;
}

.subscribe-btn {
  background: #fa7436;
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 15px 30px;
  font-weight: 600;
}

.subscribe-btn:hover {
  background: #e5672f;
  color: #fff;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.08);
}

.one {
  width: 280px;
  height: 280px;
  top: -140px;
  left: -120px;
}

.two {
  width: 180px;
  height: 180px;
  bottom: -90px;
  right: -70px;
}

@media (max-width:560px){

  .newsletter{
    display: flex;
    flex-direction: column;
  }

  .message input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
}

  
}

/* FOOTER SECTION */
.footer {
  background: #f7f8fc;
  padding: 100px 0 40px;
}

.footer-logo {
  font-size: 25px;
  font-weight: 600;
}

.footer-text {
  margin: 25px 0;
  color: #666;
  line-height: 30px;
}

.social-links {
  display: flex;
  gap: 15px;
}

.social-links a {
  width: 45px;
  height: 45px;
  background: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  transition: 0.3s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.social-links a:hover {
  background: #f86925;
  color: white;
  transform: translateY(-5px);
}

.footer h5 {
  margin-bottom: 25px;
  font-weight: 600;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 15px;
}

.footer a {
  text-decoration: none;
  color: #666;
  transition: 0.3s;
}

.footer a:hover {
  color: white;
}

/* BOTTOM FOOTER */
.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 35px;
}

.footer-bottom p {
  margin: 0;
  color: #666;
}

@media (max-width: 768px) {
  .footer {
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;

    gap: 15px;
  }
}