*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-logo {
    width: auto;
    height: 120px;
    object-fit: contain;
}

.navbar-brand{
    font-weight:700;
}

.nav-link{
    color:black;
    font-weight:500;
    margin:0 10px;
    transition:.3s;
}
